/*  VideosDescriptionL   */

.video-description-l {
    display: flex;
}

.video-description-l .col-img {
    order: -1;
} 

.video-description-l .text-box {
	padding: 2rem;
	margin: 1rem 0rem 0rem 0rem;
	background: #fff;
	position: relative;
	border-radius: 1rem;
	font-size: 15px;
}

.video-description-l img {
	width: auto;
    padding: 1rem;
	position: relative;
	z-index: 1;
	left: 0rem;
}

.video-description-l h3 {
	color: #0050D8;
}


/* Min-width width 768px */
@media (min-width: 768px) {

.video-description-l .col-img {
    order: 1;
} 

.video-description-l .text-box {
    padding: 3rem 5rem 3rem 3rem;
    margin: 1rem -4rem 0rem 0rem;
    background: #FFF7E8;
    position: relative;
    border-radius: 0rem;
    font-size: 15px;
}

.video-description-l img {
    width: 20rem;
    position: relative;
    z-index: 1;
    left: 0rem;
    padding-top: 3.5rem;
}


}


/* Min-width width 992px */
@media (min-width: 992px) {

    .video-description-l .text-box {
        padding: 3rem 5rem 3rem 3rem;
        margin: 1rem -4rem 0rem 4rem;
        background: #FFF7E8;
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
    }
    
    .video-description-l img {
        width: 28rem;
        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 3rem;
    }


}


/* Min-width width 1200px */
@media (min-width: 1200px) {

    .video-description-l .text-box {
        padding: 3rem 8rem 3rem 3rem;
        margin: 1rem 0rem 0rem 0rem;
        background: #FFF7E8;
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
    }
    
    .video-description-l img {
        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 3rem;
    }


}


/* Min-width width 1400px */
@media (min-width: 1400px) {

    .video-description-l .text-box {
        padding: 3rem 8rem 3rem 3rem;
        margin: 1rem 0rem 0rem 0rem;
        background: #FFF7E8;
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
    }
    
    .video-description-l img {
        width: 25rem;
        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 2rem;
        left: -6rem;
    }


}


/* Min-width width 1700px */
@media (min-width: 1700px) {

    .video-description-l .text-box {
        padding: 3rem 8rem 3rem 3rem;
        margin: 1rem 0rem 0rem 8rem;
        background: #FFF7E8;
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
    }
    
    .video-description-l img {
        width: 25rem;
        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 1.3rem;
        left: -8rem;
    }


}



/*  VideosDescriptionR   */

.video-description-r {
    display: flex;
}

.video-description-r .col-img {
    order: -1;
} 

.video-description-r .text-box {
	padding: 2rem;
	margin: 1rem 0rem 0rem 0rem;
	background: #fff;
	position: relative;
	border-radius: 1rem;
	font-size: 15px;
}

.video-description-r img {
	width: auto;
    padding: 1rem;
	position: relative;
	z-index: 1;
	left: 0rem;
}

.video-description-r h3 {
	color: #0050D8;
}


/* Min-width width 768px */
@media (min-width: 768px) {

.video-description-r .col-img {
    order: -1;
} 

.video-description-r .text-box {
    padding: 3rem 3rem 3rem 5rem;
    margin: 1rem 0rem 0rem -4rem;
    background: #F6F8FE;
    position: relative;
    border-radius: 0rem;
    font-size: 15px;
}

.video-description-r img {
    width: 20rem;
    position: relative;
    z-index: 1;
    left: 0rem;
    padding-top: 3.5rem;
    margin-left: 2rem;
}


}


/* Min-width width 992px */
@media (min-width: 992px) {

    .video-description-r .text-box {
        padding: 3rem 3rem 3rem 8rem;
        margin: 1rem 0rem 0rem -4rem;
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
    }
    
    .video-description-r img {
        width: 25rem;
        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 3.5rem;
    }


}


/* Min-width width 1200px */
@media (min-width: 1200px) {

    .video-description-r .text-box {

        position: relative;
    }
    
    .video-description-r img {

        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 3rem;
    }


}


/* Min-width width 1400px */
@media (min-width: 1400px) {

    .video-description-r .text-box {
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
        margin-right: 5rem;
        padding-left: 8rem;
        margin-top: 2rem;
        left: -6rem;
    }
    
    .video-description-r img {
        width: 25rem;
        position: relative;
        z-index: 1;
        left: 0rem;
        padding-top: 2rem;
    
    }


}


/* Min-width width 1700px */
@media (min-width: 1700px) {

    .video-description-r .text-box {
        position: relative;
        border-radius: 0rem;
        font-size: 15px;
        margin-right: 5rem;
        margin-top: 2rem;
        margin-right: 12rem;
    }
    
    .video-description-r img {
        width: 25rem;
        position: relative;
        z-index: 1;
        margin-left: 8rem;
        margin-top: .5rem;
        
    }


}