@font-face {
	font-family: 'linecons';
	src:url('../fonts/linecons/linecons.eot?-kux0c3');
	src:url('../fonts/linecons/linecons.eot?#iefix-kux0c3') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff?-kux0c3') format('woff'),
		url('../fonts/linecons/linecons.ttf?-kux0c3') format('truetype'),
		url('../fonts/linecons/linecons.svg?-kux0c3#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'linecons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 2em;
	display: inline-block;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-settings:before {
	content: "\e601";
}
.icon-bulb:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-paperplane:before {
	content: "\e604";
}
.icon-megaphone:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}

#marquee2 {
  font-size:20px;
  color: red;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  -webkitanimation-duration:15s;
  -webkitanimation-name: slidein2;
  -webkitanimation-iteration-count: infinite;	
  animation-duration:15s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slidein2 {
    from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 5%;
    width: 100%;
  }

}

@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 5%;
    width: 100%;
  }
}